<div class="container">
    <h1 class="text-center">
        .:Email Client with Mailgun & AWS SES:.
    </h1>
    <div class="row">
        <div class="col">
            <p>If  provider selected failed. The app try with the next provider. <br />If you want receive emails, please send email to andresmajin7@gmail.com to set in white list of our providers.</p>
        </div>
    </div>
    <div class="form-group">
      <label for="">In white list</label>
      <ul>
        <li>andresmajin7@gmail.com</li>
      </ul>
    </div>
    <hr>
    <form>
        <div class="form-group">
          <span class="font-weight-bold">* Required</span>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Select a provider</label>
          <div class="col-sm-2">
            <select class="form-control custom-select" name="emailProvider" [(ngModel)]="mail.provider" required>
                <option [value]="'aws-ses'" [selected]="'selected'">AWS SES</option>
                <option [value]="'mailgun'" >Mailgun</option>
            </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <input type="email" [placeholder]="'* To'"name="emailTo" [(ngModel)]="mail.to" class="form-control" required="true">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-6">
                <input type="text" [placeholder]="'* Subject'" name="emailSubject" [(ngModel)]="mail.subject" class="form-control" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <angular-editor [placeholder]="'* Message'" name="mail.emailBody" [config]="editorConfig" [(ngModel)]="htmlContent"></angular-editor>
                </div>
        </div>
        <div class="form-group row"><div class="col-12">&nbsp;</div></div>

        <div class="form-group row">
            <div class="offset-sm-0">
                <button type="button" (click)="sendEmail()" class="btn btn-primary btn-lg btn-block">Send</button>
            </div>
        </div>
    </form>
</div>